<ion-view view-title="Reminder">
  <ion-nav-buttons side="secondary" side="left">
     <a class="button" ng-href="#/tab/reminder/0">
      <i class="ion-plus"></i>
      ADD
    </a>
  </ion-nav-buttons>
  <ion-content class="padding login-bg">
    <ion-refresher
      pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="list-inset" ng-controller="ReminderCtrl" show-delete="shouldShowDelete">
      <ion-item ng-repeat="item in items" class="item-thumbnail-right">
        <div class="row">
          <div class="col col-75">
           <p><strong>{{item.title}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col col-67">
            <p>{{item.body.length > 10 ? item.body.substring(0, 30) + "..." : item.body }}</p>
          </div>
          <div class="col col-33">
            <p>{{item.when}}</p>  
          </div>
        </div>     
        <ion-delete-button class="ion-minus-circled" ng-click="remove($index)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
