 <ion-tabs class="tabs-icon-top tabs-assertive ">
  <!--Update Tab -->
  <ion-tab title="Updates" icon-off="ion-ios-pulse" badge="notification.length" icon-on="ion-ios-pulse-strong" 
  href="#/tab/updates">
    <ion-nav-view name="tab-updates"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Reminder" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/reminder">
    <ion-nav-view name="tab-reminder"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-off="ion-ios-settings" icon-on="ion-ios-settings-strong" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
<!-- Simple header with fixed tabs. -->
