<ion-view view-title="{{update.title}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item">
        <div class="row">
          <div class="col">
            <p>{{update.title}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-75">
          </div>
          <div class="col col-25">
             <p>{{update.date.substring(0, 10)}}</p>
          </div>
        </div>
       
      </div>
      <div class="item item-body">
        <div class="row">
          <div class="col">
            <p>
              {{update.body}}
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </ion-content>
</ion-view>
